body {
	font-size:16px; 
	font-family: Arial, sans-serif;
	background-image:url("../assets/paperbackground.png");
	background-color:#ffffcc;
}

main {
	background-color: #ffffff;
	margin: 20px 200px 20px 200px;
	padding: 20px;
	border-radius: 25px;
}

h2 {
	border-bottom: 1px solid #999;
}

h3, h4 {
	padding-bottom: -20px;
	margin-bottom: -20px;
}


a  {
	color: #000000;
}

a:hover, button:hover {
	color: #3399FF;
}

img {
	display: inline;
	float: right;
	margin-right: 90px;
	box-shadow: 1px 2px 20px #000;
	transform: translateY(-20px);
}

header h2 {
	border: none;
	text-transform: uppercase;
}

article p {
	font-style: italic;
	font-size: 18px;
	font-style: bold;
}

button {
	width:200px;
	font-size: 16px;
	background-color: #FFFFFF;
	border: 0;
	border-bottom: 1px solid #999;

}

button:hover {
	border-bottom: 2px solid #3399FF;
}

.hidden {
	display: none;
}

.date {
	float:right;
}

#snapshot {
	font-style: italic;
}


.education p, article p {
	margin-left: 20px;
}

